<h2>Backery menu</h2>
<h4><p align="center">Here you can choose the fresh cakes, buns and macarons</p></h4>
<div id="menu" >
<% index=0 %>
<% @products.each do |product| %>
	<% if index%3 == 0 %>
			<div class="row">
	<% end %>
	<div class="col-xs-6 col-md-4"><br><b><a href="/product/<%= product.id %>"><%= product.title %></b>
								<br><img width="250" height="250" src=<%= product.path_to_image%> class="img-rounded"></a>
								<br>Price: <b><%= product.price %></b> rub.
								<br>
								<button type="button" class="btn btn-info btn-xs" onclick="add_to_cart(<%= product.id %>)">Add to cart
								 <img width="30" height="30" src= <%='/images/cart.png' %>></button>
								</div>
	<% index=index+1 %>
	<% if index%3==0 %>
		</div>
	<% end %>
<% end %>
</div>
<script type="text/javascript">

$(function() 
{
	update_orders_input();
	update_orders_button();
});


</script>



